<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz2</title>
</head>

<body>
    <div id="app">
        <form action="">
            <input v-model="newName" type="text" name="nama" id="nama">
            <input v-if="update" type="submit" name="submit" id="submit" value="Update"
                v-on:click.stop.prevent="updateName(arrayke)">
            <input v-else="update" type="submit" name="submit" id="submit" value="Add" v-on:click.stop="submitName">
        </form>
        <br>
        <ul>
            <li v-for="user in users">
                {{user.name}} = <button v-on:click.stop="editName($index)">Edit</button> |
                <button v-on:click.stop="removeName($index)">Hapus</button>
            </li>
        </ul>
    </div>
    <script src="vue.js"></script>
    <script>
        var data = {
            newName: '',
            button: 'Submit',
            update: false,
            arrayke: ' ',
            users: [
                {
                    'name': 'Muhammad Iqbal Mubarok',
                },
                {
                    'name': 'Ruby Purwanti',
                },
                {
                    'name': 'Faqih Muhammad',
                },
            ]
        };

        var vo = new Vue({
            el: '#app',
            data: data,
            methods: {
                submitName: function (e) {
                    e.preventDefault();
                    if (this.newName) {
                        this.users.push({ name: this.newName.trim() });
                        this.newName = ' ';
                    }
                },
                removeName: function (index) {
                    var name = this.users[index].name
                    if (confirm('Anda Yakin Akan Menghapus ' + name + ' ?')) {
                        this.users.splice(index, 1)
                    }
                },
                editName: function (index) {
                    name = this.users[index].name;
                    this.newName = name;
                    this.update = true;
                    this.arrayke = index;
                },
                updateName: function (param) {
                    //console.log(param);
                    var nama = this.newName.trim();
                    if (nama) {
                        this.users[param].name = nama;
                        this.newName = ' ';
                    }
                }
            },
        });
    </script>
</body>

</html>