<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div v-for="comentar in comentars" track-by="$index">
            <br>
            <button v-on:click="tambah($index)">+</button>
            <br>
            {{comentar.message}} || {{comentar.date}} || Score : {{comentar.score}}
            <br>
            <button v-on:click="kurang($index)">-</button>
        </div>
        <br>
        <textarea cols="100" rows="10" v-model="newComentar" @keydown.enter.exact.prevent
            v-on:keyup.enter.exact="addComentar"></textarea>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.min.js"></script>
    <script>
        var comentar = {
            newComentar: ' ',
            comentars: [
                { message: "Ini adalah Komentar", date: "12-12-2020", score: 12 },
                { message: "Ini adalah Komentar2 ", date: "12-03-2020", score: 4 }
            ]
        }

        var vo = new Vue({
            el: '#app',
            data: comentar,
            methods: {
                addComentar: function (e) {
                    e.preventDefault();
                    var msg = this.newComentar.trim()
                    if (msg) {
                        const today = new Date();
                        const date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
                        const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                        const dateTime = date + ' ' + time;
                        this.comentars.push({ message: msg, date: dateTime, score: 0 }),
                            this.newComentar = ''
                    }
                },
                tambah: function ($index) {
                    this.comentars[$index].score = this.comentars[$index].score + 1
                },
                kurang: function ($index) {
                    this.comentars[$index].score = this.comentars[$index].score - 1
                }
            },
        });
    </script>
</body>

</html>